<h1>Congratulations!</h1>
<div class="options-row row">
  <div class="user-option col-md-2 clickable selected centered" ng-click="download()">
    <img class="third-party-logo" src="/img/intellij-logo.png" alt="IntelliJ logo">
    <p>Download IntelliJ code format configuration</p>
  </div>
  <div class="user-option col-md-2 clickable centered col-md-offset-1" ng-click="download()">
    <img class="third-party-logo" src="/img/eclipse-logo.jpg" alt="Eclipse logo">
    <p>Download Eclipse code format configuration</p>
  </div>
  <div class="user-option col-md-2 clickable centered col-md-offset-1" ng-click="download()">
    <img class="third-party-logo" src="/img/editorconfig-logo.png" alt="Editorconfig logo">
    <p>Download .editorconfig file</p>
  </div>
  <div class="user-option col-md-2 clickable centered col-md-offset-1" ng-click="download()">
    <img class="third-party-logo" src="/img/maven-logo.png" alt="Maven logo">
    <p>Download maven-checkstyle-plugin configuration</p>
  </div>
</div>
<div class="next">
  <a class="btn btn-success" ng-click="next()">Next</a>
</div>
