<div>
  <h1>What is the problem with the code style?</h1>
  <p>
    Please check out <a href="https://github.com/vdurmont/codestyle">the README in this Github repository</a>.
  </p>
  <h1>What is this website?</h1>
  <p>
    It's a first, simple and basic attempt to create a form that could help you choose your coding style.
  </p>
  <p>
    The goal is to ask you (and your team) the good questions and provide you with default answers if you don't really care about some setting.
  </p>
  <p>
    The current version has something like 3 questions, it's just a POC to check how you would feel about a system like that.
  </p>
</div>
<div class="next home-next">
  <a class="btn btn-success" href="/project-name">Next</a>
</div>
