<div ng-controller="IndentationController">
    <form role="form">
        <div class="form-group">
            <label class="control-label" for="project-indentation-indent-size">Indent Size</label>
            <input type="number"
                   class="form-control"
                   id="project-indentation-indent-size"
                   placeholder="Indent size (in number of spaces)"
                   ng-model="project.indentation.indent_size">
        </div>
        <div class="form-group">
            <button class="btn btn-primary" ng-click="saveIndentation()" ng-disabled="!isDirty()">Save</button>
        </div>
    </form>
</div>